<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="icon" type="image/svg+xml" href="/static/favicon.svg">
        <title>Upload Image</title>
        <link rel="stylesheet" href="/static/styles.css">
    </head>
    <body>
        <main class="container">
            <h1>Upload an Image (Only accept PNG)</h1>

            <div id="error" style="display: none;"></div>

            <form class="upload-form" enctype="multipart/form-data">
                <input type="file" name="file" accept="image/*" required>
                <button type="submit" name="upload_type" value="encode">Encode</button>
                <button type="submit" name="upload_type" value="decode">Decode</button>
            </form>

            <div id="result" style="display: none;"></div>
        </main>
    </body>
    <script src="/static/upload.js"></script>
</html>
